<configuration>
    <property>
        <name>dfs.data.dir</name>
        <value>{{ hadoop.name_dir }}</value>
    </property>
    <property>
        <name>dfs.data.dir</name>
        <value>{{ hadoop.data_dir }}</value>
    </property>
    <property>
        <name>dfs.replication</name>
        <value>1</value>
    </property>
</configuration>
